#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}


#divQuestions {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  border-radius: 3px;
  border: 3px solid inset;
}

#divQuestions table
{
  width: 100%;
  border-collapse: collapse;
}

#divQuestions table th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#divQuestions table th {
  background-color: #f2f2f2;
  color: #333;
}

#divQuestions table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.offcanvas.offcanvas-end {
  width: 40%px;
}